
#menu p, h1{
  text-align: left;
}

h2{
  text-align: center;
}

ul{
  text-decoration: none;
}

li{
  text-align: center;
}

p{
  color:red;
  text-align: center;
  font-size: 20px;
}

#restaurant_menu{
  text-align: center;
}
